* {
	margin:0px;
	padding: 0px;
	box-sizing: border-box;
  color: white;
	font-family: 'Space Mono', monospace;
}

body {
	background-color: #202040;
	overflow-x: hidden;
}


header {
	top:0px;
	display: flex;
	width: 100%;
	height: 10vh;
	margin: auto;
	position:fixed;
	z-index: 1000;
	align-items: center;
	transition: 0.3s;

}

.logo-container,
.nav-link,
.cart, .black-nav {
	display: flex;
}

.logo-container {
	flex: 1;
	padding-left: 5vh;
}

.logo {
	font-weight: 400;
	margin: 5px;
}

nav {
	flex: 1;
	transition: 0.5s;
}

header.black {
	background:  #202040;
	height: 7vh;
	padding: 10px 50px;
}

.black-nav{
	color:	 #cccccc ;
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
}

.nav-link, .black-nav {
	justify-content: space-around;
	list-style: none;
}

.nav-link {
	color:#b030b0;
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
}


.presentation {
	display: flex;
	width: 90%;
	margin: auto;
	min-height: 100vh;
	align-items: center;

}

.introduction {
	flex: 1;
}

.intro-text1 h1 {
	font-size: 44px;
	font-weight: 500;
	background: linear-gradient(to right, white, #b030b0);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.intro-text2 h1 {
	font-size: 44px;
	font-weight: 500;
	background: linear-gradient(to left, white, #b030b0);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.intro-text1 p, .intro-text2 p {
	margin-top: 5px;
	font-size: 22px;
	color:#7d7c94;
}

.cover {
	flex: 1;
	display: flex;
	justify-content: center;
	height:60vh;

}

.cover img {
	height: 140%;
	filter: drop-shadow(0px 5px 3px black);
	animation: drop 2.5s ease;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.one .grad-hex {
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: -1;
	opacity: 0.5;
	height: 10%;
}

.one .right-hex {
	position: absolute;
	top: 30%;
	right: 30%;
	z-index: -1;
	height: 60%;
	opacity: 0.4;
}

.one .left-hex {
	position: absolute;
	bottom: 0%;
	left: 20%;
	z-index: -1;
	opacity: 1;
}
.two .grad-hex{
	position: absolute;
	bottom: -400px;
	left: 20px;
	z-index: -1;
	opacity: 10;
	height: 40%;
}
.two .left-hex {
	position: absolute;
	bottom: -570px;
	left: -200px;
	z-index: -1;
	opacity: 10;
	height: 70%;
}

.three .right-hex {
	position: absolute;
	bottom: -1375px;
	right: -100px;
	z-index: -1;
	height: 100%;
	opacity: 10;
}

.three .pink-hex{
	position: absolute;
	bottom: -1600px;
	left: -180px;
	z-index: -1;
	height: 120%;
	opacity: 10;
	transform: rotate(15deg);

}
.three .grad-hex{
	position: absolute;
	bottom: -1400px;
	left: 20px;
	z-index: -1;
	opacity: 10;
	height: 80%;
}


.cta {
	padding: 200px 0px 0px 0px;
	padding-left: 43%;
}

.cta-join {
	background: #b030b0;
	width: 150px;
	height: 50px;
	cursor: pointer;
	font-size: 16px;
	border: none;
	color:#cccccc;
	margin: 30px 0px 0px 30px;
	transition: 0.2s;
}

.submit-signup-button, .submit-login-button, .submit-feedback-button ,.edit-profile-button{
	background: #b030b0;
	width: 25vh;
	height: 45px;
	cursor: pointer;
	font-size: 16px;
	border: none;
	color:#cccccc;
	margin-top: 2vh;
	transition: 0.2s;
}
.submit-feedback-button {
	margin-top: 1.4vh;
}


.cta-join:hover, .submit-signup-button:hover, .submit-login-button:hover, .submit-feedback-button:hover, .edit-profile-button:hover{
	filter: drop-shadow(0px 5px 3px black);
	transform: scale(1.1);
}

.signup, .login{
	width: 50%;
	height: 40px;
	float: left;
	text-align: center;
	cursor: pointer;
	line-height:40px;

}
.signup{
	color:white;
}
.login{
	color: white;
}
.login-form{
	margin-top:  7vh;
}
.sign-up-form, .login-form{
	padding:40px;
}

.user, .email, .pass{
	display: flex;
	margin: auto;
	align-items: center;
	text-decoration: none;
}

.user1, .email1, .pass1{
	flex: 3;
	justify-content: space-around;
	list-style: none;
}

.user4, .email4, .pass4{
		width: 80%;
		padding-left: 5vh;
		margin-left: 5vh;
}

.user4:focus, .email4:focus, .pass4:focus{
		border: 2px solid  #b030b0;
}

.user2, .email2, .pass2{
		flex: 0.5;
		justify-content: space-around;
		list-style: none;
}
.feedback{
	display: flex;
	margin: 10px auto;
	width: 69%;
	padding: 10px;
	margin-right: 55px;
	color: black;

}

footer {
	display: flex;
	width: 100%;
	height: 20vh;
	margin-top: 20vh;
	align-items: center;
	background-color: #323b40;
}
.feedbackdiv{
	display: flex;
	margin-top: 20px;
	padding-top: 30px;
	justify-content: space-around;
	list-style: none;
}
.feedbackdiv2{
	color:#8c8c8c;
	text-decoration: none;
}

.social-footer-icons {
	flex: 1;
}

.linkk{
	justify-content: space-around;
	list-style: none;
	display: flex;
}

.linkk{
	color: #b030b0;
	font-size: 18px;
	text-decoration: none;
}

.bg-modal {
	background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	display: none;
	justify-content: center;
	align-items: center;
	position: fixed;
}

.modal-contents {
	background-color: #202040;
	height: 395px;
	width: 550px;
	text-align: center;
	position: relative;
	border-radius: 4px;
	margin: auto;
}



.close {
	position: absolute;
	top: 30px;
	right: 10px;
	font-size: 50px;
	color: #cccccc;
	transform: rotate(45deg);
	cursor: pointer;
	transition: 0.5s;
}

.close:hover {
	/*color:#cc0000;*/
	color:#b030b0;
	transform: rotate(135deg);
}

@keyframes drop {
	0% {
		opacity: 0.8;
		transform: translateY(-30px);
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}

@media screen and (max-width: 1024px) {
	.presentation {
		flex-direction: column;
	}
	.introduction {
		margin-top: 5vh;
		text-align: center;
	}
	.intro-text h1 {
		font-size: 30px;
	}
	.intro-text p {
		font-size: 18px;
	}
	.cta {
		padding: 10px 0px 0px 0px;
	}
	.laptop-select {
		bottom: 5%;
		right: 50%;
		width: 50%;
		transform: translate(50%, 5%);
	}
	.cover img {
		height: 80%;
	}
	.small-circle,
	.medium-circle,
	.big-circle {
		opacity: 0.2;
	}
}

.games-main{
	margin-top: 115px;
}
.games-list{
	align-items: center;
	justify-content: center;
	position:relative;

}
.games{
	position: relative;
	margin:100px;
	margin-bottom: 80px;
	margin-top: 2px;
	float:left;
	z-index: 2;
	transition: .5s ease;
	align-items: center;
}

.games:hover{

	z-index: 2;
	box-shadow: 10px 10px 5px black;
	transform: scale(1.3);

}

.games:hover .csgo{
	opacity: 1;
}
.icons{
		filter: drop-shadow(0px 3px 3px 	  #8c8c8c);
		margin-right: 20px;
		margin-left: 40px;

}
.game-name{
margin-right: 20px;
font-weight: 1000;
letter-spacing: 4px;


}
.csgo{
	position: absolute;
 top: 0;
 bottom: 0;
 left: 0;
 right: 0;
 height: 100%;
 width: 100%;
 opacity: 0;
 transition: .5s ease;
 background-color: rgba(0,0,0,0.5);
	display: flex;
 justify-content: center;
 align-items: center;
}
.profile-main{
  display: flex;
  width: 100%;
}
.profile{
  flex:0.6;
  display: flex;
  flex-direction: column;
  margin-top: 5vh;
  margin-left: 5vh;
  width: 100%;
  background:linear-gradient(to left, rgba(96,32,128,0.4), rgba(163,46,134,0.4),rgba(176,48,176,0.4));
  justify-content: center;
}
.profile li{
  margin: 5vh;
  list-style: none;
}
.mygames{
  flex: 2;
}
.profile-img{
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile ul{
  height: 100%;
}
h4{
  padding: 0.5vh;
  letter-spacing: 2px;
}
h3{
  padding: 0.5vh;
  letter-spacing: 2px;
}
.w{
    border-top: 2px solid #202040;
  background:linear-gradient(to right, rgba(96,32,128,0.5), rgba(163,46,134,0.5),#942571);
}
.q{

background:linear-gradient(to left, rgba(96,32,128,0.5), rgba(163,46,134,0.5),#942571);
}
.j:hover{
	filter:drop-shadow(4px 4px 3px black);
	transform: scale(1.1);
}
.s{
  display: flex;
  justify-content: center;
  align-items:center;
}
.styled select {
  background: transparent;
  width: 200px;
  font-size: 16px;
  height: 34px;
  border: 0px;
   border-color: #fff transparent transparent transparent;

}
.styled {
  width: 20vh;
  height: 34px;
  background:transparent;
  border: 0px;
}
option{
  background-color: rgb(96,32,128);
  border:0px;
  width: 20vh;

}
.events-list::-webkit-scrollbar { width: 0 !important }
